body {
  background: #33cccc;
}

.cabecera {
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  margin: 20px 0;
  padding: 15px;
  text-decoration: none;
  width: auto;
  font-size: 50px;
 }
