body {
  height: 100%;
  position: absolute;
  width: 100%;
}

h1 {
  background: #33cccc;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  margin: 20px 0;
  padding: 15px;
  text-decoration: none;
  width: auto;
}
